*{
    margin: 0;
    padding: 0;
}
.nav-bar{
    background-color: rgb(28, 34, 34);
    width: 100%;
    
}

.first-section{
    justify-content: space-between;
    display: flex;
    color: gray;
    padding: 20px 140px;
    align-content: center;
}   

.content{
    width: 45%;
}

.content > h1{
    font-size: 55px;
    line-height: 60px;
    color: white;
}
.content > h2{
    font-size: 20px;
    color: gray;
}

.second-section{
    line-height: 40px;
    display: flex;
    padding: 80px 0px;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 100%;

}
    
.first-text{
    color: white;
}

.second-texts{
    display: flex;
    gap: 20px;
    padding-right: 20px;
}
.third-texts{
    color: white;
    font-size: 200%;
    padding: 70px 140px;
}

.fourth-texts{
    color: gray;
    padding: 70px 140px;
    padding-top: 10px;
}


.button{
    border-radius: 7px;
    color: white;
    font-size: larger;
    border: none;
    /* margin: 10px; */
    padding : 12px 20px;
    margin-right: 20px;

    
}
.image > img{
    border-radius: 10px;
}
.nav-bar2{
    background: white;
    width: 100%;
}
.second-nav{
    display: flex;
    padding: 90px;
}
.content-two{
    width: 50%;
    font-size: 25px;
    margin-top: 30px;
    padding-left: 50px;
    font-weight: 900;
}
.grid-one{
    margin-right: 10px;
}
.grid-one > div{
    padding: 30px;
    line-height: 25px;
}
.grid-one > div > p {
    padding-top: 10px;
}
.grid-two > div > p {
    padding-top: 10px;
}
.grid-two > div{
    padding: 30px;
    line-height: 25px;
}
.nav-bar3{
    background: rgb(240, 236, 236);
    width: 100%;
}
.third-nav{
    align-items: center;
    text-align: justify;
}
.span-one{
    padding-top: 8px;
    gap: 10px;
    justify-content: center;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bottom{
    width: 70%;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    display: flex;
    margin: auto;
    padding: 50px;
}
